{# Headers.OnScrollBehaviors.FromTransparentToWhiteBackground(Sticky Top) #}
<header id="header" class="header header-box-shadow-on-scroll header-white-bg-on-scroll header-abs-top header-show-hide {% if header_config.color %} {% else %} header-bg-transparent {% endif %}"
      data-hs-header-options='{
        "fixMoment": 1000,
        "fixEffect": "slide"
      }'>

    <div class="header-section">
      <!-- Topbar -->
      <div class="container header-hide-content pt-2 px-4">
        <div class="d-flex align-items-center">
          <!-- Language -->
          <div class="hs-unfold">
            <a class="js-hs-unfold-invoker dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;"
              data-hs-unfold-options='{
                "target": "#languageDropdown",
                "type": "css-animation",
                "event": "hover",
                "hideOnScroll": "true"
              }'>
              {% if currentLang == 'en' %}
                <span class="d-inline-block nav-link p-0">{{ _header.header__languages.english }}</span>
              {% elif currentLang == 'es' %}
                <span class="d-inline-block nav-link p-0">{{ _header.header__languages.spanish }}</span>
              {% elif currentLang == 'pt' %}
                <span class="d-inline-block nav-link p-0">{{ _header.header__languages.portuguese }}</span>
              {% endif %}
            </a>

            <div id="languageDropdown" class="hs-unfold-content dropdown-menu">
              {% if languages.en %}
                <a class="dropdown-item {% if currentLang == 'en' %} active disabled {% endif %}" data-lang="en">{{ _header.header__languages.english }}</a>
              {% endif %}
              {% if languages.es %}
              <a class="dropdown-item {% if currentLang == 'es' %} active disabled {% endif %}" data-lang="es">{{ _header.header__languages.spanish }}</a>
              {% endif %}
              {% if languages.pt %}
                <a class="dropdown-item {% if currentLang == 'pt' %} active disabled {% endif %}" data-lang="pt">{{ _header.header__languages.portuguese }}</a>
              {% endif %}
            </div>
          </div>
          <!-- End Language -->
        </div>
      </div>
      <!-- End Topbar -->

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-lg">
          <!-- Logo -->
          <a class="navbar-brand w-auto"  aria-label="{{ _layout.page_title }}" href="@@autopathwithlang/">
            <img src="{{ _header.header__logo }}" style="width: 14rem;" alt="{{ _layout.page_title }}">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span class="navbar-toggler-default">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
              </svg>
            </span>
            <span class="navbar-toggler-toggled">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse">
            <div class="navbar-body header-abs-top-inner">
              <ul class="js-scroll-nav navbar-nav">
                {% for item in _header.header__nav_items %}
                  <li class="navbar-nav-item">
                    <a class="nav-link" href="{{ item.url }}">{{ item.link }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
</header>

{# -------------------------------------- #}
{# ------- JS & CSS files required ------ #}
{# -------------------------------------- 

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="@@autopath/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css"> <!-- Header -->

<!-- JS Implementing Plugins -->
<script src="@@autopath/assets/vendor/hs-header/dist/hs-header.min.js"></script> <!-- Header -->
<script src="@@autopath/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script> <!-- Header -->
<script src="@@autopath/assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script> <!-- Header -->

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // INITIALIZATION OF HEADER
    // =======================================================
    var header = new HSHeader($('#header')).init();

    // INITIALIZATION OF MEGA MENU
    // =======================================================
    var megaMenu = new HSMegaMenu($('.js-mega-menu')).init();

    // INITIALIZATION OF UNFOLD
    // =======================================================
    var unfold = new HSUnfold('.js-hs-unfold-invoker').init();
  });
</script> #}

{% macro headerLanguageScript() %}
  <script>
    var $languageLinks = Array.from(document.querySelectorAll('#languageDropdown a'))
    
    var pathName = window.location.pathname;

    var routePrefix = '/giacchetta-networks';
    if (!pathName.includes(routePrefix)) routePrefix = '';

    var route = pathName.replace(routePrefix, '')
                        .replace('/es', '')
                        .replace('/pt', '');

    $languageLinks.map($languageLink => {
      let pathNameWithLinkLang;

      if ($languageLink.dataset.lang == 'en') pathNameWithLinkLang = routePrefix + route;
      if ($languageLink.dataset.lang == 'es') pathNameWithLinkLang = routePrefix +'/es' + route;
      if ($languageLink.dataset.lang == 'pt') pathNameWithLinkLang = routePrefix + '/pt' + route;

      $languageLink.setAttribute('href', pathNameWithLinkLang)
      $languageLink.addEventListener('click', () => localStorage.setItem('lang', $languageLink.dataset.lang))
    })
  </script>
{% endmacro %}