<!DOCTYPE html>
<html lang="{{ currentLang }}">
<head>
  <!-- Title -->
  {% block page_title %} 
    <title>Giacchetta Networks</title>
  {% endblock %}

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom Meta Tags -->
  {% block meta_tags %} {% endblock %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HC300E141G"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    if (location.hostname == 'localhost' || location.hostname == '127.0.0.1') {
      gtag('config', 'G-HC300E141G', { 'send_page_view': false });
    }else{
      gtag('config', 'G-HC300E141G', {
        'page_title' : location.pathname
      });
    }
  </script>
  <!-- End Google Analytics -->

  <!-- Favicon -->
  <link rel="shortcut icon" href="@@autopath/favicon.ico">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  {% block css_plugins %} {% endblock %}

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] @@vars.version -->
  <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
</head>
<body>
  {% block content %} {% endblock %}

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  {% block js_plugins %} {% endblock %}

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="@@autopath/node_modules/babel-polyfill/dist/polyfill.js"><\/script>');
  </script>
</body>
</html>